/*This is an alternative styling sheet, intended for a dark mode version of my personal website.*/
body, footer{
background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
    font-family: 'Google Sans', sans-serif;
}
h1 {
    font-size: 70px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: underline;
}
h2 {
    font-size: 50px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;}
h3 {
    font-size: 43px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
h4 {
    font-size: 36px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
h5 {   
    font-size: 29px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
h6 {
    font-size: 22px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
aside {
    background-color: red;
    color: rgb(18, 18, 18);
    backdrop-filter: blur(7px);
}

p {
    color: red;
    font-family: 'Google Sans', sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: white;
    font-family: 'Google Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

strong {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: rgb(192, 0, 0);
    color: white;
    font-family: 'Google Sans', sans-serif;
    border: 3px solid red;
    font-size: 19px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    color: red;
    font-family: 'Google Sans', sans-serif;
    font-size: 19px;
    margin: 5px;
    text-align: left;
}

aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside nav ul li {
    margin-bottom: 20px;
}

aside nav ul li a {
    display: block;
    color: red;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Google Sans', sans-serif;
    padding: 10px 16px;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s;
}

aside nav ul li a.active, aside nav ul li a:hover {
    background-color: red;
    color: black;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -220px; /* Hide off-screen */
    left: auto;
    width: 220px;
    height: 100vh;
    background:rgb(38, 38, 38);
    backdrop-filter: blur (10px);
    box-shadow: 2px 0 8px rgba(196, 0, 0, 0,5);
    z-index: 1000;
    transition: left 0.3s;
    padding-top: 40px;
}

#sidebar.open {
    right: 0;
}
